@tailwind base;
@tailwind components;
@tailwind utilities;

#__next {
  display: grid;
  min-height: 100vh;
  grid-template-rows: auto 1fr;
}
body {
  background-color: #0d1117;
  overflow: overlay;
}
